---
language: node_js
node_js: lts/*

addons:
  apt:
    sources:
      - debian-sid
    packages:
      - shellcheck

matrix:
  fast_finish: true

env:
  - TEST_RUN="echo Soon"

before_install:
  - npm install eslint html-lint csslint
  - sudo pip install yamllint

install: true

before_script:
  - "./tests/test-csslint.sh"
  - "./tests/test-shellcheck.sh"

script: "$TEST_RUN"
