body, html {
  background-color: #e5f2f0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #666666;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titlebar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: white;
  border-bottom: 1px solid #cce6e2;
}

.title {
  color: #008571;
  font-size: 26px;
  font-weight: bold;
}

.callbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  padding-top: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #329d8d;
}

.call {
  font-size: 20px;
}

.controlbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 500px;
  height: 500px;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.control {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  border-radius: 4px;
  background: white;
  margin: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
  border: 1px solid #b2dad4;
}

.control:hover {
  border-color: #9855d4;
}

.description {
  height: 100px;
  width: 90%;
  border-top: 1px solid #ddd;
  /* background: #ebf6f8; */
  padding: 10px;
  color: #454545;
  font-size: 11px;
  margin: 10px;
  letter-spacing: 1px;
  line-height: 16px;
}

.visual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.image {
  height: 80px;
  margin: 20px;
  margin-bottom: 10px;
}

.type {
  /*border-bottom: 1px solid #ddd;*/
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #454545;
  font-size: 13px;
  font-weight: 600;
}

.learn {
  display: flex;
  flex-direction: column;
  height: 40px;
  width: 100%;
  border-top: 1px solid #ddd;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  background: #e5f2f0;
}

.tile {
  text-decoration: none;
}
